#container {
	border: 2px solid black;
}

#wrapper {
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}

.famous {
	width: 40%;
	height: 40%;
	display: inline-block;
	/*border: 1px solid #ccc;*/
	text-align: center;
	margin: 5px;
}
.highlight section {
	background-color: #39ff14;
}

.famous:nth-child(odd) {
	background-color: lightblue;
}
.famous:nth-child(even) {
	background-color: lightyellow;
}


.photo {
	width: 33%;
	height: 33%;
	margin: 5px;
}
